<div class="container-fluid adv-container d-flex mt-0 mb-5  ">
    <div class="noon-card-img m-0">
        <img src="https://f.nooncdn.com/mpcms/EN0003/assets/23d235b1-a9b4-4355-8317-335009d1bec1.png?format=avif"
            alt="">

    </div>
    <div id="carouselExample" class="carousel slide first-slider ">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://f.nooncdn.com/mpcms/EN0003/assets/7e207cfe-796f-46a5-93ed-ba7c51bb6c2f.png?format=avif"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://f.nooncdn.com/mpcms/EN0003/assets/2942f93c-faca-4c85-8a7d-a711375f398d.png?format=avif" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://f.nooncdn.com/mpcms/EN0003/assets/975695dd-e3de-49c6-b243-fdf8fd8ec97a.png?format=avif" class="d-block w-100"
                    alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
    <div class="bottom-slid">
        <h3>Designed with all Love, enjoy.<br> Ahmed Eldafrawy</h3>
    </div>
</div>

<div class="text-holder d-flex">
    <h5>Best Seller</h5>
    <button class="shop-button my-2 ">Shop Now</button>
</div>
<div class="d-flex product-card-container">
 <div class="d-flex cards-container">
    <div class="container-fluid product-holder m-3 first-prd">

        <div class="container-fluid card-image-holder">
            <img src="https://fdn2.gsmarena.com/vv/pics/apple/apple-iphone-15-pro-max-1.jpg" class="card-img-top p-2"
                alt="...">
        </div>

        <div class="card-body">
            <h4 class="card-title">IPhone 15 Pro Max</h4>
            <h5 class="card-text">Lorem ipsum dolor,
                 sit amet consectetur adipisicing elit. Sit,
                  in? Fugit qui eaque ab, nesciunt itaque omnis
                   nisi asperiores reiciendis reprehenderit eum
                    placeat quia deleniti voluptatem numquam,
                     perferendis eveniet saepe.</h5>
        </div>
        <div class="prc-cont"><h5 class="prc">$9877</h5></div>
    </div>
    <div class="container-fluid product-holder m-3 first-prd">

        <div class="container-fluid card-image-holder">
            <img src="https://fdn2.gsmarena.com/vv/pics/apple/apple-iphone-15-pro-max-1.jpg" class="card-img-top p-2"
                alt="...">
        </div>

        <div class="card-body">
            <h4 class="card-title">IPhone 15 Pro Max</h4>
            <h5 class="card-text">first-prd</h5>
        </div>
        <div class="prc-cont"><h5 class="prc">$9</h5></div>
    </div>
    <div class="container-fluid product-holder m-3">

        <div class="container-fluid card-image-holder">
            <img src="https://fdn2.gsmarena.com/vv/pics/apple/apple-iphone-15-pro-max-1.jpg" class="card-img-top p-2"
                alt="...">
        </div>

        <div class="card-body">
            <h4 class="card-title">IPhone 15 Pro Max</h4>
            <h5 class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</h5>
        </div>
    </div>
    <div class="container-fluid product-holder m-3">

        <div class="container-fluid card-image-holder">
            <img src="https://fdn2.gsmarena.com/vv/pics/apple/apple-iphone-15-pro-max-1.jpg" class="card-img-top p-2"
                alt="...">
        </div>

        <div class="card-body">
            <h4 class="card-title">IPhone 15 Pro Max</h4>
            <h5 class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</h5>
        </div>
    </div>
    <div class="container-fluid product-holder m-3">

        <div class="container-fluid card-image-holder">
            <img src="https://fdn2.gsmarena.com/vv/pics/apple/apple-iphone-15-pro-max-1.jpg" class="card-img-top p-2"
                alt="...">
        </div>

        <div class="card-body">
            <h4 class="card-title">IPhone 15 Pro Max</h4>
            <h5 class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</h5>
        </div>
    </div>
</div>
</div>